<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MEPs</title>
  <link rel="stylesheet" type="text/css" href="build/css/all.css" />
  <link rel="stylesheet" type="text/css" href="src/css/wall.css" />
  <script type="text/javascript" src="build/js/all.min.js"></script>
  <script type="text/javascript" src="src/js/wall.js"></script>
  <script type="text/javascript" src="node_modules/dot/doT.min.js"></script>
  <script type="text/javascript" src="node_modules/lozad/dist/lozad.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16.png" />


</head>

<body>


  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top resetall">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand resetall" href="#"><img src="img/ep.svg" alt="MEPs" title="Members of the European parliament"/></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" id="input-filter" class="form-control" placeholder="name, party, committee...">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-btngroup">
            <span class="navbar-btn"><a data-toggle="collapse" data-target="#stat .panel-body" 
		               href="#stat" class="btn-toggle active btn btn-default"><i class="glyphicon glyphicon-stats"></i></a></span>
            <span class="navbar-btn"><a href="#table" class="btn-toggle active btn btn-default" data-toggle="collapse" data-target="#table tbody"><i class="glyphicon glyphicon-list-alt"></i></a></span>
            <span class="navbar-btn"><a href="#" title="Contact and help"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container-fluid">
    <h1 class="page-header hidden">Members of the European parliament</h1>
      <div class="row"><div class="col-xs-12">
          <div class="form-group"><label>Country</label>
        <input id="twitter-tpl" class="form-control" value=".{mep}, do the right thing">
          </div>
      </div></div>
    <div id="stat" class="row collapse in">
      <div class="col-md-5">
        <div class="well">
          <label>Country</label>
        <div class="select-country"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="country panel panel-default">
          <div class="panel-heading">
            <div class="btn-group-xs pull-right btn-toggle-group hidden" data-target="country">
              <a href="#" class="btn active btn-fab btn-success" data-sort="alphabet">
                <i class="material-icon glyphicon glyphicon-sort-by-alphabet"></i>
              </a>
              <a href="#" class="btn btn-fab" data-sort="size">
                <i class="material-icon glyphicon glyphicon-sort-by-attributes-alt"></i>
              </a>
            </div>
            <h3 class="panel-title"><a href="#" data-toggle="collapse" data-target=".country .panel-body">Countries</a></h3>
          </div>
          <div class="panel-body collapse in" data-sort="alphabet">
            <div class="graph"></div>
          </div>
        </div>
      </div>
    </div>

      <div class="container-fluid"><div class="row"><div id="pagination" class="col-md-12"></div></div></div>
      

      <div class="col-md-12 card" id="wall">
        
    </div>

  </div>
  </div>
  </div>


  </div>


  </div>
  </div>
  <div id="detail" class="modal fade" role="dialog">
  </div>
  <style type="text/x-tmpl" id="dtd">
    {% if (o.dd) { %}
    <dt>{%=o.dt%}</dt>
    <dd>{%=o.dd%}</dd>
    {% } %}
  </style>
  <style type="text/x-tmpl" id="tmpl-rss">
<div class="list-group">
{% for (var i=0; i<o.items.length; i++) { %}
  <a class="list-group-item" title="{%=o.items[i].category%}" href="{%#o.items[i].link%}">{%=o.items[i].title%}</a>
  {% } %}
</div>
  </style>

  <style type="text/x-tmpl" id="tmpl-detail">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{%=o.first_name%} {%=o.last_name%}
            <span title='{%=o.constituency.country%}' class='img-rounded pull-left text-filter country-flag {%=o.constituency.country.replace(" ", "-").toLowerCase()%}'>{%=o.country%}</span>
            <span title='{%=o.eugroup%}' class='img-rounded pull-left text-filter eugroup {%=o.eugroup.replace(/&|\/|car/g, "-").toLowerCase()%}'>{%=o.country%}</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <img src="https://www.europarl.europa.eu/mepphoto/{%=o.epid%}.jpg" class="img-circle img-responsive">
            </div>
            <div class="col-md-9 main">
              <dl class="dl-horizontal">
                {% include('dtd', {dt: "Since", dd:formatDate(o.since)}); %} {% include('dtd', {dt: "Country", dd:o.constituency.country}); %} {% include('dtd', {dt: "Group", dd:o.eugroup}); %} {% include('dtd', {dt: "Party", dd:o.constituency.party}); %} {% include('dtd', {dt: "Email", dd:o.email}); %} {% include('dtd', {dt: "Phone", dd:o.phone}); %} {% include('dtd', {dt: "Twitter", dd:o.Twitter}); %} {% include('dtd', {dt: "Birthdate", dd:formatDate(o.birthdate)}); %}
              </dl>
              <dl class="dl-horizontal">
              {% include('dtd', {dt: "Rapporteur of", dd:o.activities.REPORT}); %} {% include('dtd', {dt: "Motions", dd:o.activities.MOTION}); %} {% include('dtd', {dt: "Shadow rapporteur", dd:o.activities['REPORT-SHADOW']}); %} {% include('dtd', {dt: "Opinions", dd:o.activities.COMPARL}); %} {% include('dtd', {dt: "Opinion shadow", dd:o.activities['OPINION-SHADOW']}); %} {% include('dtd', {dt: "Declarations", dd:o.activities.WECL}); %} {% include('dtd', {dt: "Questions", dd:o.activities.QP}); %} {% include('dtd', {dt: "Speeches", dd:o.activities.CRE}); %}
              </dl>
            </div>
            <div class="col-md-4 hidden feed">
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <a href="tel:{%=o.phone.replace(/ /g,'')%}" title="{%=o.phone%}" target="_blank" class="btn btn-default"><i class="glyphicon glyphicon-earphone"></i></a></a>
          <a href="mailto:{%=o.email%}" target="_blank" class="btn btn-default"><i class="glyphicon glyphicon-envelope"></i></a>
          <a href="http://www.europarl.europa.eu/meps/en/{%=o.epid%}/name/home" target="_blank" class="btn btn-default"><img class="img-responsive btn-img" title="see more on the parliament website" src="img/ep.svg"></a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

  </style>
<svg class="d-none" id="icons">
<symbol id="icon-twitter" viewBox="0 0 24 24">
<path fill="#1DA1F2" d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/>
</symbol>
</svg>
<script id="tpl" type="template">
<div class="person lozad" data-background-image="https://www.europarl.europa.eu/mepphoto/{{=d.epid}}.jpg">
<div>
{{? d.Twitter }}
<div class="twitter btn btn-primary">{{=iconify("twitter")}}</div>
{{?}}
<div class="mail btn btn-primary"><i class="glyphicon glyphicon-envelope"></i></div>
<h3>{{=d.first_name}} {{=d.last_name}}</h3>
<div class="party">{{=d.constituency.party}}</div>
</div>
</div>
</script>
  <script>
doT.templateSettings.varname="d";
var tpl=doT.template(d3.select("#tpl").html());
var observer = lozad();

  </script>
<svg class="d-none" id="icons">

  <symbol id="icon-twitter" viewBox="0 0 24 24">
<path fill="#1DA1F2" d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/>
</symbol>
</svg>

</body>
</html>
